@import "tailwindcss";

:root {
    --background-primary: #272727;
    --text-primary: #e6e6e6;
    --text-downlight: #929292;
    --text-contrast: #272727;

    --clock-highlight: #ffffb3;
    --neon-gradient: linear-gradient(47deg, #9dc8ff 0%, #67a9ff 50%, #f952ff 100%);
}

@theme inline {
  --color-background: var(--background-primary);
  --color-foreground: var(--text-primary);
  --font-sans: sans-serif;
  --font-mono: monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-primary: #272727;
    --text-primary: #e6e6e6;
    --text-downlight: #929292;
    --text-contrast: #272727;

    --clock-highlight: #ffffb3;
    --neon-gradient: linear-gradient(47deg, #9dc8ff 0%, #67a9ff 50%, #f952ff 100%);
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-primary);
  color: var(--text-primary);
  font-family: sono, 'Courier New', Courier, monospace, sans-serif;
}

* {
  box-sizing: border-box;
}

.neon-gradient {
  background: var(--neon-gradient);
  color: var(--text-contrast);
}