#clock-container {
    --main-font-size: 5rem;

    display: inline-flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    time {
        font-family: digital-x, digital, Courier New, Arial, sans-serif;

        .hours {
            font-size: var(--main-font-size);
            color: var(--clock-highlight);
        }

        .minutes {
            font-size: calc(var(--main-font-size) * 0.8);
        }

        .seconds {
            color: var(--text-downlight);
            font-size: calc(var(--main-font-size) * 0.6);
        }
    }

    .date {
        font-size: calc(var(--main-font-size) * 0.8);
        font-family: abduction, digital-x, digital, Courier New, Arial, sans-serif;
        background: var(--neon-gradient);
        background-size: 600% 600%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

        -webkit-animation: rotatingBg 30s ease infinite;
        -moz-animation: rotatingBg 30s ease infinite;
        animation: rotatingBg 30s ease infinite;
    }
}

@-webkit-keyframes rotatingBg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes rotatingBg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}