#weather-container {
    font-weight: bold;
    font-size: 2rem;

    .selected {
        font-weight: bold;
    }

    table {
        th, td {
            /* border: 1px solid white; */
        }

        .first-col {
            width: 200px;
        }

        &.work_hours {
            th.hour {
                width : calc(25% - 200px);
            }
        }

        .rain-badge {
            background-color: var(--rain-background);
            color: var(--text-contrast);
        }
        .snow-badge {
            background-color: var(--snow-background);
            color: var(--text-contrast);
        }
    }
}