:root {
  --background-primary: rgb(41, 41, 41);
  --text-primary: rgb(230, 230, 230);
  --text-downlight: rgb(146, 146, 146);

  --clock-highlight: rgb(255, 255, 179);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}
